* {
    box-sizing: border-box;
    margin: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  div {
    width: 100px;
    height: 100px;
    background-color: #e8e3e3;
    position: relative;
    margin: 200px auto;
    border-radius: 50%;
    border: 5px solid #e91e63;
    /* transition: transform 0.3s; */
    border-left-color: transparent;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
     animation-play-state: paused; /* second part */
    /* -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s; */
}


/* with before and after borders */

div::before,div::after {
content: '';
position: absolute;
border-width: 10px;
border-style: solid;
border-radius: 50%;
}

div::before {
    width: 115%;
    height: 115%;
    border-color: aqua aqua transparent aqua;
    left: -17%;
    top: -19%;
}
div::after {
    width: 141%;
    height: 141%;
    border-color: transparent yellow yellow yellow;
    left: -30%;
    top: -32%;
}
div:hover{
    /* animation-play-state: paused; first part   */
    animation-play-state: running;
}

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }